
.modalFormContainer {
    display: flex;
    justify-content: center;    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(36, 36, 36, 0.9);
    padding-top: 15%;
    padding-bottom: 20px;
    
    visibility: hidden;
    opacity:0;
    pointer-events: none;
    transition: 0.4s;
}
.formContainerVisible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.formModalListItemEdit {
display: flex;
flex-direction: column;
border: 5px solid #979595;
background: rgb(222, 223, 223);
border-radius: 15px;
color: black;
min-width: 250px;
max-height: 40vh;
overflow: auto;
transition: border 2s;
}

.updateHasSavedMessageFormModal {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: rgb(22, 186, 30);
    color: rgb(249, 249, 249);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    height:20px;
    opacity: 0;
    width:100px;
    transition: 3s;
}

.updateHasSavedMessageFormModalShow {
    z-index: 1;
    opacity: 1;
    
}

.formModalListItemEditSaved {
    border: 5px solid #30db05;
}