/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- end of CSS Reset ------------------------------------------------------------------- */
/* ------- end of CSS Reset ------------------------------------------------------------------- */
/* ------- end of CSS Reset ------------------------------------------------------------------- */

body {
    background-color: rgb(41, 41, 41);
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.navTitle {
    display: flex;
}

.updateHasSavedMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 186, 30);
    color: rgb(249, 249, 249);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    height:20px;
    width:140px;
    opacity: 0;
    z-index: -1;
    transition: 2s;
    position: fixed;
    right: 0;
}
.updateHasSavedMessageShow {
    z-index: 1;
    opacity: 1;
    
}

.navAddNewItem {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:150px;
    border-radius: 3px;
    border: 1px solid rgb(86, 87, 86);
    background-color: rgb(22, 186, 30);
    color: rgb(255, 255, 255);
    margin: 0px 0px 5px 5px;
    transition: 0.5s;
}
.navAddNewItem:hover {
    border-width: 2px;
}

.navAddNewItemLeftMenuOut {
    margin-top: 0px;
}

.mainContainerDiv {
    display: flex;
    flex-wrap: nowrap;
}


.leftMenu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    overflow: none;
    width: 50px;
    height: 100vh;
    background-color: rgb(118, 118, 115);
    transition: 1s;
}


.leftMenuFlyOut {
    width: 200px;
    background-color: rgb(230, 230, 230);
    overflow: auto;
}
.leftMenuFlyOut::-webkit-scrollbar {
    width: 10px;
    background: #f1f1f1; 
}
.leftMenuFlyOut::-webkit-scrollbar-track {
    background: #5c5959; 
}
.leftMenuFlyOut::-webkit-scrollbar-thumb {
    background: rgb(77, 76, 76); 
}
  .leftMenuFlyOut::-webkit-scrollbar-thumb:hover {
    background: rgb(225, 222, 222); 
}

.burgerFlyOutButton {

    align-self: center;
    border: 0px;
    background-color:rgba(0, 0, 0, 0);
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;   
}
.burgerFlyOut {
    display: flex;
    width:30px;
    align-self: center;
    transition: 0.5s;
    
    cursor: pointer;
}
.burgerFlyOutButtonHide {
    width: 0px;
    height:0px;
    transform: translate(-100vw, 0vh);
}


.leftMenuProjectItemList {
    list-style-type: none;
    padding-left: 0px;
    transform: translate(-100vw, 0vh);   
    transition: 0.5s;
}

.leftMenuProjectItemListShow {
    transform: translate(0vw, 0vh);   
}

.leftMenuProjectItem {
    display: flex;
    align-items: center;
    text-align: left;
    width:180px;
    border: 1px solid rgb(152, 152, 152);
    background-color: rgb(43, 42, 42);
    color: rgb(255, 255, 255);
    border-radius: 0px 6px 6px 0px;
    margin-top: 1px;
    padding: 5px;
    cursor: pointer;
    margin-top: 3px;
}

.leftMenuProjectItem:hover {
    background-color: rgb(22, 186, 30);
}

.ListImgEle {
    width:20px;
    height: 20px;
    margin-right: 5px;
}

.leftMenuProjectItemText {
    font-size: 1rem;
}

.leftMenuItemShowAsSelected {
    background-color: rgb(5, 121, 11);
    border: 1px solid rgb(75, 75, 75);
    color: white;

}

.mainPageListContainer {
    margin-left: 100px;
    height: 100vh;
}

.mainPageListContentNavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    gap: 3px;
    font-weight: bold;
}

.listTitle {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.buttonAddAnotherMainPageListItem {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 30px;
    width:100px;
    border-radius: 3px;
    border: 1px solid rgb(191, 191, 191);
    background-color: rgb(5, 121, 11);
    color: white;
    margin: 0px 0px 5px 5px;
    transition: 0.5s;
}
.buttonAddAnotherMainPageListItem:hover {
    border-color: white;
    background-color: rgb(22, 186, 30);
}

.mainPageListContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:85vw;
    overflow: auto;
    padding: 10px;
}

.contentBreakPoint {
    width: 80vw;
    transform: translate(-100vw, 0vh);   
    transition: 0.5s;
    height:0px;
}
.contentBreakPointShow {
    border: 1px solid rgb(147, 147, 145);
    border-radius: 3px;
    margin-top: 2vh;
    transform: translate(0vw, 0vh);
    height:100%;
}
.contentBreakPointImg {
    width:23px;
}

.breakPointHeading {
    display: flex; 
    align-items: center;
    gap: 4px;
    font-weight: bold;
    padding: 5px;
}

.mainPageListItemCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(99, 97, 97);
    transition: 0.2s;
}

.mainPageListItemCardMouseInside {
    background-color: #5c5959;
    cursor: pointer;
}

.mainPageListItemCardActive {
    /* border: 1px solid white; */
    background-color: #5c5959;
    border-radius: 3px;
}

.mainPageListItemContentLeft {
    display: flex;
    flex-direction: column;
}

.mainPageListItemContentRight {
    display: flex;
    margin-right: 10px;
}

.formDisplayDueDate {
    margin-left: 25px;
    font-size: 0.8rem;
    color: #b6acac;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: left;
    opacity: 0;
    transform: 1.5s;
}

.formDisplayDueDateShow {
    opacity: 1;
}

.formDisplayDueDateCompleted {
    text-decoration: line-through;
}

.formDisplayDueDate:hover {
    color: #b6acac;
    text-decoration: underline;
}

.mainPageListItemForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.listFormTitleText {
    border: 0px;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    resize: none;
    margin-left: 4px;
    width: 60vw;
    height: 1.2rem;
}

.listFormTitleText:hover{
    border-left: 2px dotted white;
}

.listFormTitleText:focus{
    outline: none;
    border-left: 2px dotted white;
}

.listFormActionButton {
    background-color: rgba(0, 0, 0, 0);
    padding:0px;
    border: 0;
    cursor: pointer;
}
.listFormActionButton:hover {
    animation: showActive 2s;
    animation-iteration-count: infinite;
}
.checkBoxImgEle {
    width:25px;
    margin: 0px 2px 0px 4px;
}

.pencilImgEle {
    width:25px;
    margin: 0px 2px 0px 4px;
}

.trashImgEle {
    width:28px;
    margin: 0px 4px 0px 4px;
}


@keyframes showActive {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg) scale(1.35); }
    75% { transform: rotate(-20deg) scale(1.35); }
    100% { transform: rotate(00deg);}
  }



@media (max-width: 610px) {
    .mainPageListItemContentLeft {
        width:100%;
    }
    
    .mainPageListItemContentRight {
        justify-content: flex-end;
        width:100%;
    }
  
  }